body {
    overflow-x: hidden;
    background-color: rgb(233, 233, 233);
}

nav {
    text-align: right;
    background-image: linear-gradient(90deg, #EC3963, #BB67A3, #46A9D3);
    color: white;
}

.nav-link, .navb {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.imgfix {
    min-width: 10px;
    height: 125px;
  }

  #logo{
    background-color: transparent;
    border-color: transparent;
    background-image: url("img/webdesignlogo.png");
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-size: 40px;
    background-position: center,center;
    background-repeat: no-repeat;
    color: white;
}
.navbar-brand{
    color: white;
}
.banner{
    background: url("images/landing.jpg");
    height: 100vh;
    margin-top: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    background-color: #9fd9ff;    
  }
  h2{
    text-align: center;
  }

  .webCircle {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    color: White;
    border-radius: 100%;
    font-family: Kanit;
    box-shadow: 7px 1px 2px rgb(75, 75, 75);
    width: 15em;
    height: 15em;
}

.w1 {
    background-color: #C31673;
}

p.quote {
    margin: 0; 
    font-size: 2rem;
}